@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --primary-color: #f2f2f2;
  --secondary-color: #080d1c;
  --short-scroll-time: all 0.5s;
  --long-scroll-time: all 1.2s;
}
#intro,
#about,
#gallery,
#support,
#outro {
  margin: 12vh 24vh;
}
h1 {
  font-weight: 700;
  text-align: center;
  margin: 12vh 0vh;
}
h2 {
  margin: 8vh 0vh;
}
h3 {
  margin: 4vh 0vh;
}
p,
li {
  margin: 2vh 0vh;
}
.panel p {
  color: var(--primary-color);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/**/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: var(--primary-color);
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  opacity: 0;
  transition: opacity 3s;
}

/**/
#top-buttonn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  color: none;
  transition: var(--short-scroll-time);
}
#top-buttonn:hover {
  cursor: pointer;
  bottom: 28px;
}

/**/
#navbar {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: var(--primary-color); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
}
/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 2.5vh 5vh;
  text-decoration: none;
  transition: var(--short-scroll-time);
}
#navbar a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/**/
.intro button {
  background: none;
  margin: 4vh 0vh;
  padding: 2vh 4vh;
  font-size: 20px;
  border: 2px solid var(--secondary-color);
  transition: var(--short-scroll-time);
}
.intro button:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 16vh;
}

/**/
.img-row {
  display: grid;
  margin: 8vh 0vh;
  text-align: center;
}
.img-column {
  margin: 0vh;
}
.img-column img {
  border: 2px solid var(--primary-color);
  margin: 1vh;
  height: 270px;
  width: 270px;
  object-fit: cover;
  transition: var(--short-scroll-time);
}
.img-column img:hover {
  cursor: pointer;
  height: 290px;
  width: 290px;
}
/**/
.card-row {
  display: grid;
  margin: 8vh 0vh;
  text-align: center;
}
.card-column {
  margin: 0vh;
}
.card-column img {
  border: 2px solid var(--primary-color);
  margin: 2vh;
  height: 135px;
  width: 270px;
  object-fit: cover;
  transition: var(--short-scroll-time);
}
.card-column img:hover {
  cursor: pointer;
  height: 145px;
  width: 290px;
}

/**/
form {
  text-align: center;
}
input {
  background: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 1vh;
  padding: 1vh 0vh;
  height: 4vh;
  border: 2px solid var(--secondary-color);
  transition: var(--short-scroll-time);
}
input:hover,
input:focus {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
}
input.mid {
  width: 44%;
}
input.full {
  width: 90%;
}
input.max {
  width: 90%;
  height: 24vh;
}
form button {
  margin: 2vh;
  font-size: 20px;
  font-weight: 600;
  height: 8vh;
  width: 20%;
  background: none;
  border: 2px solid var(--secondary-color);
  transition: var(--short-scroll-time);
}
form button:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 32px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 24px;
  padding: 16px 32px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border: 2px solid var(--secondary-color);
  transition: var(--short-scroll-time);
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 32px;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0px 32px;
  background: var(--secondary-color);
  display: none;
  overflow: hidden;
  border: none;
}

/**/
.outro h3 {
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
.links ul p {
  margin-bottom: 4vh;
  font-size: 24px;
  font-weight: 700;
}
.links ul li {
  margin: 2vh 0vh;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
.links ul li a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

@media screen and (max-width: 800px) {
  .img-column {
  }
}
@media screen and (max-width: 600px) {
  .img-column {
  }
}
